* {
    border: 0;
    padding: 0;
    margin: 0;
    /* color: #FF950A;
    color: #82B1FF;
    */
}
#nav-bar {
    background: white;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
}
#nav-bar ul {
    margin: 0;
    font-size: 20px;
    padding: 10px;
    align-self: center;
}
#nav-bar ul li {
    display: inline;
    text-decoration: none;
}
#start {
    position: absolute;
    left: 40px;
}
#start img {
    margin-top: 7px;
    width: 250px; 
    height: auto;
}
#mid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#end {
    position: absolute;
    right: 30px;
    display: flex;
}
#butCriar {
    width: 200px;
    height: 30px;
    background: white;
    border: 2px solid #82B1FF;
    font-size: 15px;
}
#butCriar:hover {
    cursor: pointer;
    background: #82B1FF;
}
#butSair {
    background: transparent;
    width: 70px;
    height: 30px;
    font-size: 16px;
    color: red;
    margin-left: 10px;
}
#butSair:hover {
    cursor: pointer;
    color: rgb(218, 0, 0);
}
.form {
    position: absolute;
    right: 10px;
}