@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    background: rgba(226, 226, 226, 0.746);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
#box {
    padding-top: 10px;
    background: white;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(71, 71, 71, 0.2);
}
label {
    display: block;
    margin: 5px 0 5px 15px;
}
.cadIpt, .logIpt {
    background: white;
    margin: 10px;
    width: 470px;
    outline: none;
    padding-left: 5px;
    height: 40px;
    font-size: 20px;
}
.cadIpt {
    border: 2px solid #82B1FF;
}
.logIpt {
    border: 2px solid #FF950A;
}
#butC, #butL {
    height: 30px;
    width: 140px;
    font-size: 20px;
    margin: 0 0 10px 10px;
    margin-left: 180px;
    background: white;
}
#butC {
    border: 2px solid #FF950A;
}
#butL {
    border: 2px solid #82B1FF;
}
#butC:hover {
    cursor: pointer;
    background: #FF950A;
}
#butL:hover {
    cursor: pointer;
    background: #82B1FF;
}
